# 1.0 - Initial Data Exploration (EDA)

by Michael Joshua Vargas

The primary objective of this notebook is to build a predictive model for early detection. Consequently, we have defined the target variable's prediction window (e.g., 'time to event' or 'survival') to be greater than 7 days and less than 60 days. This specific timeframe is chosen to provide sufficient lead time for intervention while maintaining relevance for an 'early' detection system.

## Data Inspection and Setup

In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

### Import relevant libraries

In [2]:
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns

import os

import sys
from pathlib import Path

### Load the dataset

In [3]:
# Get the current working directory of the notebook
notebook_dir = Path(os.getcwd())

# Navigate up one level to reach the project root directory
project_root = notebook_dir.parent

if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

# Import from config.py
from bank_fraud.config import INTERIM_EDA_DATASET

df = pd.read_parquet(INTERIM_EDA_DATASET)

### Dataset Shape

In [4]:
print(f"""
The dataset has a total of {df.shape[0]} rows and a total of {df.shape[1]} columns.
""")

The dataset has a total of 1073778 rows and a total of 154 columns.

### Data Types
 - Check the data type of each column. Are dates stored as objects? Are numbers stored as strings?

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1073778 entries, 0 to 1073777
Columns: 154 entries, profile_id to destination_entropy_out
dtypes: datetime64[ns](11), float64(102), int64(4), object(37)
memory usage: 1.2+ GB

The `df.info()` can be slow or memory-intensive for very large datasets as it tries to compute non-null counts for all columns. Let us use alternative and more efficient ways to check data types and identify missing values with their counts:

In [6]:
# Get all the columns and their data types
pd.set_option('display.max_rows', None)

print("Column Data Types: ")
print(df.dtypes)

# Get all the columns and their data types
pd.reset_option('display.max_rows')

Column Data Types:
profile_id                                                         object
account_no                                                         object
full_name                                                          object
username                                                           object
date_of_birth                                              datetime64[ns]
gr_card_no                                                         object
cellphone                                                          object
orig_onboarded_datetime                                    datetime64[ns]
orig_onboarded_date                                        datetime64[ns]
orig_channel                                                       object
orig_os                                                            object
origination_type                                                   object
origination_sub_type                                               object
carded_status                                                      object
card_type                                                          object
orig_primary_source_of_funds                                       object
orig_industry                                                      object
orig_occupation                                                    object
ticket_no                                                          object
date_tagged                                                datetime64[ns]
ops_comments                                                       object
account_status                                                     object
account_status_as_off                                      datetime64[ns]
datetime_restricted                                        datetime64[ns]
date_restricted                                            datetime64[ns]
athena_fraud_tag                                                   object
acc_mgmt_channel                                                   object
first_kiosk_interaction_organisation_site_name                     object
first_kiosk_interaction_organisation_presence_category             object
first_kiosk_interaction_organisation_name                          object
first_kiosk_interaction_kiosk_interaction_type                     object
latest_kiosk_interaction_organisation_site_name                    object
latest_kiosk_interaction_organisation_presence_category            object
latest_kiosk_interaction_organisation_name                         object
latest_kiosk_interaction_kiosk_interaction_type                    object
first_fila_date                                            datetime64[ns]
first_fila_bank_code                                               object
change_email_occurence                                              int64
change_email_flag                                                   int64
change_mob_num_occurence                                            int64
change_mob_num_flag                                                 int64
first_mob_num_date                                         datetime64[ns]
final_tag                                                          object
dna_final_tag                                                      object
fraud_types                                                        object
fraud_channel_source                                               object
matching_level                                                     object
account_number                                                     object
txn_count_week_wk1                                                float64
txn_amt_week_wk1                                                  float64
txn_velocity_week_wk1                                             float64
txn_days_active_week_wk1                                          float64
txn_count_week_wk2                                                float64
txn_amt_week_wk2                                                  float64
txn_velocity_week_wk2                                             float64
txn_days_active_week_wk2                                          float64
txn_count_week_wk3                                                float64
txn_amt_week_wk3                                                  float64
txn_velocity_week_wk3                                             float64
txn_days_active_week_wk3                                          float64
txn_count_week_wk4                                                float64
txn_amt_week_wk4                                                  float64
txn_velocity_week_wk4                                             float64
txn_days_active_week_wk4                                          float64
txn_velocity_delta_wk2_vs_wk1                                     float64
txn_velocity_delta_wk3_vs_wk2                                     float64
txn_velocity_delta_wk4_vs_wk3                                     float64
txn_velocity_accel_wk3                                            float64
txn_velocity_accel_wk4                                            float64
flag_txn_dropoff_after_wk1                                        float64
txn_count_30d                                                     float64
txn_amt_30d                                                       float64
txn_velocity_30d                                                  float64
txn_days_active_30d                                               float64
txn_count_day_volatility_30d                                      float64
txn_amt_day_volatility_30d                                        float64
txn_count_vol_score_wk1                                           float64
txn_amt_vol_score_wk1                                             float64
txn_count_vol_score_wk2                                           float64
txn_amt_vol_score_wk2                                             float64
txn_count_vol_score_wk3                                           float64
txn_amt_vol_score_wk3                                             float64
txn_count_vol_score_wk4                                           float64
txn_amt_vol_score_wk4                                             float64
max_txn_count_day                                                 float64
min_txn_count_day                                                 float64
max_txn_amt_day                                                   float64
min_txn_amt_day                                                   float64
avg_amt_in_day                                                    float64
avg_amt_out_day                                                   float64
avg_net_flow_amt_day                                              float64
avg_inflow_outflow_ratio_day                                      float64
num_same_day_cico_days                                            float64
num_inflow_days                                                   float64
percent_inflow_same_day_out                                       float64
count_INSTAPAY_IN                                                 float64
count_INSTAPAY_OUT                                                float64
count_PESONET_IN                                                  float64
count_PESONET_OUT                                                 float64
count_total_in                                                    float64
count_total_out                                                   float64
amount_INSTAPAY_IN                                                float64
amount_INSTAPAY_OUT                                               float64
amount_PESONET_IN                                                 float64
amount_PESONET_OUT                                                float64
total_amount_in                                                   float64
total_amount_out                                                  float64
max_amount_INSTAPAY_IN                                            float64
max_amount_INSTAPAY_OUT                                           float64
max_amount_PESONET_IN                                             float64
max_amount_PESONET_OUT                                            float64
min_amount_INSTAPAY_IN                                            float64
min_amount_INSTAPAY_OUT                                           float64
min_amount_PESONET_IN                                             float64
min_amount_PESONET_OUT                                            float64
txn_days_active                                                   float64
first_txn_date                                             datetime64[ns]
last_txn_date                                              datetime64[ns]
weekend_txn_count                                                 float64
night_txn_count                                                   float64
hour_entropy                                                      float64
weekday_entropy                                                   float64
min_time_btwn_txns_sec                                            float64
min_time_btwn_txns_days                                           float64
max_time_btwn_txns_days                                           float64
avg_time_btwn_txns_days                                           float64
cv_time_btwn_txns                                                 float64
min_txn_sessions_per_day_3min                                     float64
max_txn_sessions_per_day_3min                                     float64
min_txn_sessions_per_day_5min                                     float64
max_txn_sessions_per_day_5min                                     float64
active_days_with_txns                                             float64
num_unique_source_accounts                                        float64
num_unique_source_names                                           float64
num_unique_destination_accounts                                   float64
num_unique_destination_names                                      float64
repeat_sources                                                    float64
total_sources                                                     float64
repeat_counterparty_ratio_in                                      float64
repeat_destinations                                               float64
total_destinations                                                float64
repeat_counterparty_ratio_out                                     float64
source_account_number                                              object
amt_from_source                                                   float64
rank                                                              float64
total_in                                                          float64
top_source_share_in                                               float64
destination_account_number                                         object
amt_to_destination                                                float64
rank.1                                                            float64
total_out                                                         float64
top_destination_share_out                                         float64
source_entropy_in                                                 float64
destination_entropy_out                                           float64
dtype: object

Upon inspecting the data types, it's noted that specific columns (e.g., `profile_id`, `account_no`, `full_name`, `username`,`gr_card_no`, `cellphone`, `account_number`, `source_account_number`, and `destination_account_number`) are currently object type. It's important to clarify that these columns originally contained int64 numerical data. However, prior to ingestion, a cryptographic hashing function was applied to these fields for privacy preservation, converting their integer values into non-numeric, string-like representations, hence their current object data type.

### Missing Values and Their Counts/Percentages

In [7]:
# Get all the columns and their data types
pd.set_option('display.max_rows', None)

# Calculate the count of missing values for each column
missing_counts = df.isnull().sum()

# Calculate the percentage of missing values for each column
missing_percentages = (df.isnull().sum() / len(df)) * 100

# Create a DataFrame to display the results clearly
missing_info = pd.DataFrame({
    'Missing Count': missing_counts,
    'Missing Percentages': missing_percentages
})

# Filter to show only columns that have missing values
missing_info = missing_info[missing_info['Missing Count'] > 0].sort_values(by='Missing Count', ascending=False)

print("\nColumns with Missing Values:")
if not missing_info.empty:
    print(missing_info)
else:
    print("No missing values found in any column.")

# Reset
pd.reset_option('display.max_rows')

Columns with Missing Values:
                                                    Missing Count  \
max_amount_PESONET_OUT                                    1073777
min_amount_PESONET_OUT                                    1073777
count_PESONET_OUT                                         1073777
amount_PESONET_OUT                                        1073777
min_amount_PESONET_IN                                     1065201
count_PESONET_IN                                          1065201
amount_PESONET_IN                                         1065201
max_amount_PESONET_IN                                     1065201
first_mob_num_date                                        1055319
txn_velocity_accel_wk4                                    1023238
txn_velocity_accel_wk3                                    1021701
first_fila_date                                           1019261
first_fila_bank_code                                      1019261
txn_amt_vol_score_wk3                                     1017152
txn_count_vol_score_wk3                                   1017152
txn_amt_vol_score_wk2                                     1014915
txn_count_vol_score_wk2                                   1014915
date_restricted                                           1004374
datetime_restricted                                       1004374
txn_amt_vol_score_wk4                                     1004139
txn_count_vol_score_wk4                                   1004139
total_destinations                                         999833
repeat_counterparty_ratio_out                              999833
repeat_destinations                                        999833
txn_velocity_delta_wk3_vs_wk2                              999345
ops_comments                                               996532
txn_velocity_delta_wk4_vs_wk3                              994211
txn_count_vol_score_wk1                                    985006
txn_amt_vol_score_wk1                                      985006
txn_velocity_delta_wk2_vs_wk1                              978994
date_tagged                                                976816
ticket_no                                                  974133
athena_fraud_tag                                           974133
txn_days_active_week_wk3                                   931370
txn_velocity_week_wk3                                      931370
txn_amt_week_wk3                                           931370
txn_count_week_wk3                                         931370
repeat_counterparty_ratio_in                               929915
total_sources                                              929915
repeat_sources                                             929915
txn_count_week_wk2                                         920371
txn_amt_week_wk2                                           920371
txn_days_active_week_wk2                                   920371
txn_velocity_week_wk2                                      920371
txn_days_active_week_wk4                                   917520
txn_velocity_week_wk4                                      917520
txn_count_week_wk4                                         917520
txn_amt_week_wk4                                           917520
cv_time_btwn_txns                                          897188
weekend_txn_count                                          862361
txn_amt_day_volatility_30d                                 841897
txn_count_day_volatility_30d                               841897
num_unique_destination_accounts                            825062
num_unique_destination_names                               825062
min_amount_INSTAPAY_OUT                                    825062
amt_to_destination                                         825062
max_amount_INSTAPAY_OUT                                    825062
rank.1                                                     825062
total_out                                                  825062
amount_INSTAPAY_OUT                                        825062
top_destination_share_out                                  825062
count_INSTAPAY_OUT                                         825062
destination_entropy_out                                    825062
min_time_btwn_txns_sec                                     819449
min_time_btwn_txns_days                                    819449
max_time_btwn_txns_days                                    819449
avg_time_btwn_txns_days                                    819449
matching_level                                             817037
night_txn_count                                            812238
txn_amt_week_wk1                                           773555
txn_days_active_week_wk1                                   773555
txn_velocity_week_wk1                                      773555
txn_count_week_wk1                                         773555
min_amount_INSTAPAY_IN                                     720763
max_amount_INSTAPAY_IN                                     720763
amount_INSTAPAY_IN                                         720763
count_INSTAPAY_IN                                          720763
num_unique_source_names                                    717338
num_unique_source_accounts                                 717338
amt_from_source                                            717338
rank                                                       717338
total_in                                                   717338
top_source_share_in                                        717338
source_entropy_in                                          717338
weekday_entropy                                            645550
active_days_with_txns                                      645550
max_txn_sessions_per_day_5min                              645550
min_txn_sessions_per_day_5min                              645550
max_txn_sessions_per_day_3min                              645550
min_txn_sessions_per_day_3min                              645550
percent_inflow_same_day_out                                645550
num_inflow_days                                            645550
hour_entropy                                               645550
total_amount_out                                           645550
num_same_day_cico_days                                     645550
avg_net_flow_amt_day                                       645550
avg_amt_out_day                                            645550
count_total_in                                             645550
count_total_out                                            645550
flag_txn_dropoff_after_wk1                                 645550
min_txn_amt_day                                            645550
max_txn_amt_day                                            645550
total_amount_in                                            645550
avg_amt_in_day                                             645550
min_txn_count_day                                          645550
txn_amt_30d                                                645550
last_txn_date                                              645550
first_txn_date                                             645550
txn_days_active                                            645550
max_txn_count_day                                          645550
txn_count_30d                                              645550
txn_velocity_30d                                           645550
txn_days_active_30d                                        645550
avg_inflow_outflow_ratio_day                               645550
latest_kiosk_interaction_organisation_site_name            299892
latest_kiosk_interaction_organisation_presence_...         299892
latest_kiosk_interaction_organisation_name                 299892
first_kiosk_interaction_organisation_name                  299892
first_kiosk_interaction_organisation_presence_c...         299892
first_kiosk_interaction_organisation_site_name             299892
latest_kiosk_interaction_kiosk_interaction_type            299880
first_kiosk_interaction_kiosk_interaction_type             299880

                                                    Missing Percentages
max_amount_PESONET_OUT                                        99.999907
min_amount_PESONET_OUT                                        99.999907
count_PESONET_OUT                                             99.999907
amount_PESONET_OUT                                            99.999907
min_amount_PESONET_IN                                         99.201232
count_PESONET_IN                                              99.201232
amount_PESONET_IN                                             99.201232
max_amount_PESONET_IN                                         99.201232
first_mob_num_date                                            98.280930
txn_velocity_accel_wk4                                        95.293254
txn_velocity_accel_wk3                                        95.150115
first_fila_date                                               94.922880
first_fila_bank_code                                          94.922880
txn_amt_vol_score_wk3                                         94.726470
txn_count_vol_score_wk3                                       94.726470
txn_amt_vol_score_wk2                                         94.518141
txn_count_vol_score_wk2                                       94.518141
date_restricted                                               93.536467
datetime_restricted                                           93.536467
txn_amt_vol_score_wk4                                         93.514581
txn_count_vol_score_wk4                                       93.514581
total_destinations                                            93.113567
repeat_counterparty_ratio_out                                 93.113567
repeat_destinations                                           93.113567
txn_velocity_delta_wk3_vs_wk2                                 93.068120
ops_comments                                                  92.806148
txn_velocity_delta_wk4_vs_wk3                                 92.589995
txn_count_vol_score_wk1                                       91.732742
txn_amt_vol_score_wk1                                         91.732742
txn_velocity_delta_wk2_vs_wk1                                 91.172850
date_tagged                                                   90.970014
ticket_no                                                     90.720149
athena_fraud_tag                                              90.720149
txn_days_active_week_wk3                                      86.737668
txn_velocity_week_wk3                                         86.737668
txn_amt_week_wk3                                              86.737668
txn_count_week_wk3                                            86.737668
repeat_counterparty_ratio_in                                  86.602165
total_sources                                                 86.602165
repeat_sources                                                86.602165
txn_count_week_wk2                                            85.713341
txn_amt_week_wk2                                              85.713341
txn_days_active_week_wk2                                      85.713341
txn_velocity_week_wk2                                         85.713341
txn_days_active_week_wk4                                      85.447830
txn_velocity_week_wk4                                         85.447830
txn_count_week_wk4                                            85.447830
txn_amt_week_wk4                                              85.447830
cv_time_btwn_txns                                             83.554329
weekend_txn_count                                             80.310921
txn_amt_day_volatility_30d                                    78.405127
txn_count_day_volatility_30d                                  78.405127
num_unique_destination_accounts                               76.837298
num_unique_destination_names                                  76.837298
min_amount_INSTAPAY_OUT                                       76.837298
amt_to_destination                                            76.837298
max_amount_INSTAPAY_OUT                                       76.837298
rank.1                                                        76.837298
total_out                                                     76.837298
amount_INSTAPAY_OUT                                           76.837298
top_destination_share_out                                     76.837298
count_INSTAPAY_OUT                                            76.837298
destination_entropy_out                                       76.837298
min_time_btwn_txns_sec                                        76.314564
min_time_btwn_txns_days                                       76.314564
max_time_btwn_txns_days                                       76.314564
avg_time_btwn_txns_days                                       76.314564
matching_level                                                76.089937
night_txn_count                                               75.643010
txn_amt_week_wk1                                              72.040496
txn_days_active_week_wk1                                      72.040496
txn_velocity_week_wk1                                         72.040496
txn_count_week_wk1                                            72.040496
min_amount_INSTAPAY_IN                                        67.124024
max_amount_INSTAPAY_IN                                        67.124024
amount_INSTAPAY_IN                                            67.124024
count_INSTAPAY_IN                                             67.124024
num_unique_source_names                                       66.805057
num_unique_source_accounts                                    66.805057
amt_from_source                                               66.805057
rank                                                          66.805057
total_in                                                      66.805057
top_source_share_in                                           66.805057
source_entropy_in                                             66.805057
weekday_entropy                                               60.119503
active_days_with_txns                                         60.119503
max_txn_sessions_per_day_5min                                 60.119503
min_txn_sessions_per_day_5min                                 60.119503
max_txn_sessions_per_day_3min                                 60.119503
min_txn_sessions_per_day_3min                                 60.119503
percent_inflow_same_day_out                                   60.119503
num_inflow_days                                               60.119503
hour_entropy                                                  60.119503
total_amount_out                                              60.119503
num_same_day_cico_days                                        60.119503
avg_net_flow_amt_day                                          60.119503
avg_amt_out_day                                               60.119503
count_total_in                                                60.119503
count_total_out                                               60.119503
flag_txn_dropoff_after_wk1                                    60.119503
min_txn_amt_day                                               60.119503
max_txn_amt_day                                               60.119503
total_amount_in                                               60.119503
avg_amt_in_day                                                60.119503
min_txn_count_day                                             60.119503
txn_amt_30d                                                   60.119503
last_txn_date                                                 60.119503
first_txn_date                                                60.119503
txn_days_active                                               60.119503
max_txn_count_day                                             60.119503
txn_count_30d                                                 60.119503
txn_velocity_30d                                              60.119503
txn_days_active_30d                                           60.119503
avg_inflow_outflow_ratio_day                                  60.119503
latest_kiosk_interaction_organisation_site_name               27.928678
latest_kiosk_interaction_organisation_presence_...            27.928678
latest_kiosk_interaction_organisation_name                    27.928678
first_kiosk_interaction_organisation_name                     27.928678
first_kiosk_interaction_organisation_presence_c...            27.928678
first_kiosk_interaction_organisation_site_name                27.928678
latest_kiosk_interaction_kiosk_interaction_type               27.927560
first_kiosk_interaction_kiosk_interaction_type                27.927560

### Check for Duplicates

Checking for duplicate records is crucial for:
   1. **Data Accuracy**: Ensures each record is unique and valid, preventing skewed analyses.
   2. **Reliable Insights**: Avoids statistical bias and prevents machine learning models from overfitting to redundant data.
   3. **Efficiency**: Reduces unnecessary storage and processing, improving performance. 
   4. **Data Integrity**: Upholds business rules by ensuring unique identifiers are truly unique.

In [8]:
f"Our dataset has {df.duplicated().sum()} duplicates."

'Our dataset has 0 duplicates.'

### Descriptive Statistics

In [9]:
# Get all the columns and their description
pd.set_option('display.max_columns', None)

df.describe()

,date_of_birth,orig_onboarded_datetime,orig_onboarded_date,date_tagged,account_status_as_off,datetime_restricted,date_restricted,first_fila_date,change_email_occurence,change_email_flag,change_mob_num_occurence,change_mob_num_flag,first_mob_num_date,txn_count_week_wk1,txn_amt_week_wk1,txn_velocity_week_wk1,txn_days_active_week_wk1,txn_count_week_wk2,txn_amt_week_wk2,txn_velocity_week_wk2,txn_days_active_week_wk2,txn_count_week_wk3,txn_amt_week_wk3,txn_velocity_week_wk3,txn_days_active_week_wk3,txn_count_week_wk4,txn_amt_week_wk4,txn_velocity_week_wk4,txn_days_active_week_wk4,txn_velocity_delta_wk2_vs_wk1,txn_velocity_delta_wk3_vs_wk2,txn_velocity_delta_wk4_vs_wk3,txn_velocity_accel_wk3,txn_velocity_accel_wk4,flag_txn_dropoff_after_wk1,txn_count_30d,txn_amt_30d,txn_velocity_30d,txn_days_active_30d,txn_count_day_volatility_30d,txn_amt_day_volatility_30d,txn_count_vol_score_wk1,txn_amt_vol_score_wk1,txn_count_vol_score_wk2,txn_amt_vol_score_wk2,txn_count_vol_score_wk3,txn_amt_vol_score_wk3,txn_count_vol_score_wk4,txn_amt_vol_score_wk4,max_txn_count_day,min_txn_count_day,max_txn_amt_day,min_txn_amt_day,avg_amt_in_day,avg_amt_out_day,avg_net_flow_amt_day,avg_inflow_outflow_ratio_day,num_same_day_cico_days,num_inflow_days,percent_inflow_same_day_out,count_INSTAPAY_IN,count_INSTAPAY_OUT,count_PESONET_IN,count_PESONET_OUT,count_total_in,count_total_out,amount_INSTAPAY_IN,amount_INSTAPAY_OUT,amount_PESONET_IN,amount_PESONET_OUT,total_amount_in,total_amount_out,max_amount_INSTAPAY_IN,max_amount_INSTAPAY_OUT,max_amount_PESONET_IN,max_amount_PESONET_OUT,min_amount_INSTAPAY_IN,min_amount_INSTAPAY_OUT,min_amount_PESONET_IN,min_amount_PESONET_OUT,txn_days_active,first_txn_date,last_txn_date,weekend_txn_count,night_txn_count,hour_entropy,weekday_entropy,min_time_btwn_txns_sec,min_time_btwn_txns_days,max_time_btwn_txns_days,avg_time_btwn_txns_days,cv_time_btwn_txns,min_txn_sessions_per_day_3min,max_txn_sessions_per_day_3min,min_txn_sessions_per_day_5min,max_txn_sessions_per_day_5min,active_days_with_txns,num_unique_source_accounts,num_unique_source_names,num_unique_destination_accounts,num_unique_destination_names,repeat_sources,total_sources,repeat_counterparty_ratio_in,repeat_destinations,total_destinations,repeat_counterparty_ratio_out,amt_from_source,rank,total_in,top_source_share_in,amt_to_destination,rank.1,total_out,top_destination_share_out,source_entropy_in,destination_entropy_out
count,1073778,1073778,1073778,96962,1073778,69404,69404,54517,1.073778e+06,1.073778e+06,1.073778e+06,1.073778e+06,18459,300223.000000,3.002230e+05,300223.000000,300223.000000,153407.000000,1.534070e+05,153407.000000,153407.000000,142408.000000,1.424080e+05,142408.000000,142408.000000,156258.000000,1.562580e+05,156258.000000,156258.000000,94784.000000,74433.000000,79567.000000,52077.000000,50540.000000,428228.000000,428228.000000,4.282280e+05,428228.000000,428228.000000,231881.000000,2.318810e+05,88772.000000,88772.000000,58863.000000,58863.000000,56626.000000,56626.000000,69639.000000,69639.000000,428228.000000,428228.000000,4.282280e+05,4.282280e+05,4.282280e+05,428228.000000,4.282280e+05,4.282280e+05,428228.000000,428228.000000,428228.000000,353015.000000,248716.000000,8577.000000,1.0,428228.000000,428228.000000,3.530150e+05,2.487160e+05,8.577000e+03,1.0,4.282280e+05,4.282280e+05,353015.000000,248716.000000,8.577000e+03,1.0,353015.000000,248716.000000,8.577000e+03,1.0,428228.000000,428228,428228,211417.000000,261540.000000,428228.000000,428228.000000,2.543290e+05,254329.000000,254329.000000,254329.000000,176590.000000,428228.000000,428228.00000,428228.000000,428228.000000,428228.000000,356440.000000,356440.000000,248716.000000,248716.000000,143863.000000,143863.000000,143863.000000,73945.000000,73945.00000,73945.000000,3.564400e+05,356440.0,3.564400e+05,356440.000000,2.487160e+05,248716.0,2.487160e+05,248716.000000,356440.000000,248716.000000
mean,1990-03-30 14:02:27.610400256,2025-03-05 12:29:35.365884672,2025-03-04 21:49:00.480434688,2025-03-23 04:22:48.759597056,2025-03-05 20:55:32.639708160,2025-03-20 23:57:24.330471680,2025-03-20 17:13:36.437093888,2025-03-16 09:33:47.288057344,1.229304e-02,1.036341e-02,1.902535e-02,1.719070e-02,2025-03-23 13:02:22.174548736,3.451411,1.172182e+04,0.493059,1.507756,5.748440,1.903402e+04,0.821206,1.733500,4.799990,1.733544e+04,0.685713,1.750449,4.245319,1.774531e+04,0.606474,1.946992,0.075727,-0.181953,0.060998,-0.532143,-0.135884,0.479742,7.624364,2.727673e+04,0.254145,2.970625,0.700579,6.031656e+03,0.217359,29.376165,0.233940,62.449742,0.242462,74.463610,0.214648,50.252727,2.133891,1.153194,1.020156e+04,2.567533e+03,5.177892e+03,1727.716133,3.450176e+03,1.829135e+03,0.447888,2.006581,0.078310,3.602989,7.923644,2.602192,1.0,3.022287,4.602076,2.362062e+04,1.137054e+04,5.995006e+04,1000.0,2.067269e+04,6.604045e+03,6262.122514,3911.399427,2.552721e+04,1000.0,2063.283967,1658.310299,2.027236e+04,1000.0,2.970625,2025-03-11 13:03:05.654371328,2025-03-19 19:23:42.655219712,4.077595,4.117875,1.016875,0.802214,2.432768e+05,2.815704,8.391395,4.869164,1.179461,1.085973,1.80717,1.070402,1.705792,2.970625,1.920940,1.860358,5.264442,5.228880,1.455600,3.033546,0.730670,1.476557,13.95571,0.657700,1.391861e+04,1.0,2.483623e+04,0.893177,6.419012e+03,1.0,1.137055e+04,0.890643,0.453175,0.522674
min,1925-01-25 00:00:00,2025-01-01 00:07:34.340000,2025-01-01 00:00:00,2025-01-01 01:37:11.200000,2024-12-31 00:00:00,2025-01-01 00:00:00,2025-01-01 00:00:00,2025-01-01 01:21:04.686000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2025-01-01 00:00:00,1.000000,1.000000e-02,0.142857,1.000000,1.000000,1.000000e-02,0.142857,1.000000,1.000000,1.000000e-02,0.142857,1.000000,1.000000,1.000000e-02,0.142857,1.000000,-84.000000,-108.857143,-71.857143,-211.000000,-115.714286,0.000000,1.000000,1.000000e-02,0.033333,1.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000e-02,1.000000e-02,0.000000e+00,0.000000,-8.000000e+04,0.000000e+00,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.0,0.000000,0.000000,1.000000e-02,1.000000e-02,1.000000e-02,1000.0,0.000000e+00,0.000000e+00,0.010000,0.010000,1.000000e-02,1000.0,0.010000,0.010000,1.000000e-02,1000.0,1.000000,2025-01-01 00:00:00,2025-01-01 00:00:00,1.000000,1.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,1.00000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.007299,1.000000,1.00000,0.001151,1.000000e-02,1.0,1.000000e-02,0.008823,1.000000e-02,1.0,1.000000e-02,0.003289,0.000000,0.000000
25%,1982-10-25 00:00:00,2025-01-31 09:04:19.087750144,2025-01-31 00:00:00,2025-02-20 02:10:32.020750080,2025-02-01 00:00:00,2025-02-20 03:39:52.393250048,2025-02-20 00:00:00,2025-02-10 19:56:11.566000128,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2025-02-16 00:00:00,1.000000,1.010000e+02,0.142857,1.000000,1.000000,4.850000e+02,0.142857,1.000000,1.000000,5.000000e+02,0.142857,1.000000,1.000000,6.000000e+02,0.142857,1.000000,-0.142857,-0.142857,-0.142857,-0.285714,-0.285714,0.000000,1.000000,2.000000e+02,0.033333,1.000000,0.000000,3.807854e+02,0.000000,0.512842,0.000000,0.509090,0.000000,0.550749,0.000000,0.588335,1.000000,1.000000,1.800000e+02,1.000000e+02,1.000000e+02,0.000000,1.000000e+00,1.000000e+00,0.000000,1.000000,0.000000,1.000000,1.000000,2.000000,1.0,1.000000,0.000000,2.000000e+02,2.000000e+02,2.000000e+03,1000.0,1.000000e+02,0.000000e+00,180.000000,198.977500,1.000000e+03,1000.0,100.000000,90.000000,6.273100e+02,1000.0,1.000000,2025-02-06 00:00:00,2025-02-15 00:00:00,1.000000,1.000000,0.000000,0.000000,3.330000e+02,0.003854,3.183715,1.363178,0.801116,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.500000,1.000000,1.00000,0.333333,2.000000e+02,1.0,2.000000e+02,0.859813,2.000000e+02,1.0,2.000000e+02,0.855796,0.000000,0.000000
50%,1993-03-30 00:00:00,2025-03-04 12:57:19.654500096,2025-03-04 00:00:00,2025-03-23 08:14:02.345999872,2025-03-04 00:00:00,2025-03-19 07:35:07.699000064,2025-03-19 00:00:00,2025-03-15 17:09:26.176000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2025-03-23 00:00:00,1.000000,6.020000e+02,0.142857,1.000000,1.000000,2.000000e+03,0.142857,1.000000,1.000000,2.088000e+03,0.142857,1.000000,2.000000,2.600000e+03,0.285714,1.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.000000,2.000000,2.000000e+03,0.066667,2.000000,0.000000,1.633128e+03,0.000000,1.305611,0.000000,1.198438,0.000000,1.318276,0.000000,1.411391,1.000000,1.000000,1.450000e+03,2.000000e+02,6.000000e+02,90.000000,2.666667e+02,6.013703e+00,0.000000,1.000000,0.000000,2.000000,1.000000,2.000000,1.0,1.000000,1.000000,2.000000e+03,1.000000e+03,9.000000e+03,1000.0,1.000000e+03,9.200000e+01,1400.000000,881.000000,5.000000e+03,1000.0,285.000000,200.000000,3.000000e+03,1000.0,2.000000,2025-03-11 00:00:00,2025-03-19 00:00:00,1.000000,1.000000,1.000000,0.918296,2.193300e+04,0.253854,7.225914,3.224317,1.099938,1.000000,1.00000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.00000,0.500000,2.000000e+03,1.0,2.000000e+03,1.000000,9.920000e+02,1.0,1.000000e+03,1.000000,0.000000,0.000000
75%,2000-01-08 00:00:00,2025-04-06 11:24:36.071750144,2025-04-06 00:00:00,2025-04-24 05:30:32.796000,2025-04-07 00:00:00,2025-04-21 02:37:39.608250112,2025-04-21 00:00:00,2025-04-18 18:12:26.087000064,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2025-04-29 00:00:00,2.000000,4.540000e+03,0.285714,2.000000,3.000000,7.700000e+03,0.428571,2.000000,3.000000,8.485000e+03,0.428571,2.000000,3.000000,9.930000e+03,0.428571,2.000000,0.142857,0.142857,0.285714,0.285714,0.428571,1.000000,4.000000,1.122500e+04,0.133333,3.000000,0.699206,5.210834e+03,0.353553,4.573327,0.353553,3.703053,0.353553,4.082180,0.353553,4.402963,2.000000,1.000000,7.150000e+03,1.000000e+03,3.550554e+03,860.000000,2.400000e+03,1.850000e+02,0.000000,2.000000,0.000000,3.000000,3.000000,2.000000,1.0,3.000000,2.000000,1.051500e+04,4.900000e+03,3.561860e+04,1000.0,8.300000e+03,1.582000e+03,6642.205000,3000.000000,1.700000e+04,1000.0,1000.000000,977.000000,1.219370e+04,1000.0,3.000000,2025-04-13 00:00:00,2025-04-22 00:00:00,2.000000,3.000000,1.842371,1.521928,2.449160e+05,2.834676,12.342720,6.485934,1.411739,1.000000,2.00000,1.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000,1.000000,1.000000,3.00000,1.000000,9.800000e+03,1.0,1.100000e+04,1.000000,4.000000e+03,1.0,4.900000e+03,1.000000,0.918296,1.000000
max,2007-05-12 00:00:00,2025-05-12 23:59:49.056000,2025-05-12 00:00:00,2025-06-10 16:50:45.222000,2025-06-09 00:00:00,2025-06-09 14:54:41.184000,2025-06-09 00:00:00,2025-06-10 02:07:15.272000,2.100000e+01,1.000000e+00,9.300000e+01,1.000000e+00,2025-06-10 00:00:00,706.000000,1.605500e+07,100.857143,7.000000,936.000000,1.924500e+07,133.714286,7.000000,772.000000,3.544830e+06,110.285714,7.000000,713.000000,4.735400e+06,101.857143,9.000000,111.714286,95.142857,65.714286,89.571429,84.428571,1.000000,2243.000000,2.032600e+07,74.766667,30.000000,443.355952,7.552550e+06,61.518290,186973.358929,221.677976,41825.744164,50.558135,37028.514728,17.590582,50617.594834,628.000000,137.000000,1.440000e+07,2.000000e+06,5.351667e+06,99979.000000,5.351667e+06,5.351667e+06,29.000000,30.000000,0.966667,1207.000000,2234.000000,628.000000,1.0,1207.000000,2234.000000,1.999800e+07,1.489761e+06,1.600000e+07,1000.0,1.999800e+07,1.489761e+06,50000.000000,50000.000000,7.000000e+06,1000.0,50000.000000,50000.000000,1.600000e+06,1000.0,30.000000,2025-06-10 00:00:00,2025-06-10 00:00:00,721.000000,982.000000,4.554227,2.807355,2.578572e+06,29.844583,29.844583,29.844583,24.247840,64.000000,127.00000,43.000000,85.000000,30.000000,750.000000,735.000000,1633.000000,1633.000000,202.000000,750.000000,1.000000,447.000000,1633.00000,1.000000,1.958800e+07,1.0,1.999800e+07,1.000000,1.236996e+06,1.0,1.489761e+06,1.000000,9.297884,10.645821
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.353656e-01,1.012720e-01,1.819451e-01,1.299815e-01,NaN,19.134752,7.035122e+04,2.733536,0.992050,30.902635,1.017697e+05,4.414662,1.236126,25.714253,8.109815e+04,3.673465,1.217289,20.172151,8.733970e+04,2.881736,1.485035,3.004861,3.406082,2.897245,5.704402,4.390258,0.499590,49.206079,1.677297e+05,1.640203,3.311157,2.939933,2.576389e+04,0.564916,752.024051,0.995124,742.362849,0.712418,835.598002,0.357707,737.338804,7.081497,1.451593,4.913281e+04,1.470294e+04,2.408104e+04,5567.390000,2.295220e+04,1.704687e+04,1.540174,2.580681,0.178314,11.590989,59.207376,7.350759,NaN,10.680406,45.291219,1.493597e+05,5.216730e+04,2.623016e+05,NaN,1.423140e+05,4.015082e+04,11179.683004,8624.417284,9.742017e+04,NaN,5880.140745,5196.414024,5.504525e+04,NaN,3.311157,NaN,NaN,19.302710,19.139900,1.108025,0.874598,4.663164e+05,5.397180,6.464638,5.223231,0.785714,0.731046,4.40001,0.573611,3.520124,3.311157,5.650975,5.583273,44.524001,43.867453,2.482459,8.709460,0.295822,4.769157,79.75456,0.336550,8.287053e+04,0.0,1.556565e+05,0.193602,2.577351e+04,0.0,5.216730e+04,0.200086,0.780926,1.041329

### Data Dictionary Creation

Each entry in this dictionary provides a crucial piece of the puzzle, detailing not just the technical specifications of a feature, but also its business context and relevance to identifying fraudulent activities.

In [14]:
# --- 1. Adjust python Path to import from bank_fraud/ ---
# add 'bank_fraud' directory to the Python path
bank_fraud_path = project_root / 'bank_fraud'

# Add bank_fraud to sys.path if it's not already there
if str(bank_fraud_path) not in sys.path:
    sys.path.insert(0, str(bank_fraud_path)) # Insert at the beginning for priority

# --- 2. Import the function ---
# Import from bank_fraud.utils.data_dictionary_generator
from bank_fraud.utils.data_dictionary_generator import run_data_dictionary_pipeline

exported_path = run_data_dictionary_pipeline(df, output_dir_name="references")
print(f"\nData dictionaries generated and exported to: {exported_path.relative_to(project_root)}")

Data dictionaries generated and exported to: references

**What You'll Find Here:**

Each entry in this dictionary provides a crucial piece of the puzzle, detailing not just the technical specifications of a feature, but also its business context and relevance to identifying fraudulent activities.

*   **`feature_name`**: The unique identifier for each data point.
*   **`data_type`**: The technical format of the data (e.g., `int64`, `float64`, `object`, `datetime64[ns]`), crucial for proper data handling and analysis.
*   **`description`**: A concise explanation of what the feature represents in a business context, highlighting its potential role in fraud detection. This is where the story of our data truly begins.
*   **`null_count`**: The number of missing values, indicating data completeness and potential areas for imputation or cleaning.
*   **`unique_count`**: The number of distinct values, offering insights into the variability and cardinality of the feature.

Beyond these core attributes, we provide additional, type-specific metadata to enrich our understanding:

For numerical features (e.g., transaction amounts, frequencies, durations), we delve into their statistical distribution. These metrics help us understand typical behaviors, identify outliers, and quantify the scale of various activities.

*   **`count`**: The number of non-null observations.
*   **`mean`**: The average value, indicating central tendency.
*   **`std`**: The standard deviation, measuring the dispersion or spread of data.
*   **`min` / `max`**: The minimum and maximum values, defining the range of the data.
*   **`25%` / `50%` (Median) / `75%`**: Quartiles that provide insights into the distribution and potential skewness of the data.

#### Numeric Features: Quantifying Behavior

In [26]:
from bank_fraud.config import DATA_DICTIONARIES_DIR

pd.set_option('display.max_rows', None)

# bank-fraud-detection-project\references\numeric_data_dictionary.csv
num_path = DATA_DICTIONARIES_DIR / 'numeric_data_dictionary.csv'
num_df = pd.read_csv(num_path)

num_df

,feature_name,data_type,description,null_count,unique_count,count,mean,std,min,25%,50%,75%,max
0,change_email_occurence,int64,Contact information change frequency indicatin...,0,11,1073778.0,0.012293,0.135366,0.000000,0.000000,0.000000,0.000000,2.100000e+01
1,change_mob_num_occurence,int64,Contact information change frequency indicatin...,0,13,1073778.0,0.019025,0.181945,0.000000,0.000000,0.000000,0.000000,9.300000e+01
2,txn_count_week_wk1,float64,Weekly transaction count for wk1 showing accou...,773555,468,300223.0,3.451411,19.134752,1.000000,1.000000,1.000000,2.000000,7.060000e+02
3,txn_amt_week_wk1,float64,Weekly transaction amount for wk1 indicating s...,773555,30872,300223.0,11721.815632,70351.216397,0.010000,101.000000,602.000000,4540.000000,1.605500e+07
4,txn_velocity_week_wk1,float64,Transaction velocity (transactions per day) fo...,773555,468,300223.0,0.493059,2.733536,0.142857,0.142857,0.142857,0.285714,1.008571e+02
5,txn_days_active_week_wk1,float64,Number of active transaction days in wk1 showi...,773555,7,300223.0,1.507756,0.992050,1.000000,1.000000,1.000000,2.000000,7.000000e+00
6,txn_count_week_wk2,float64,Weekly transaction count for wk2 showing accou...,920371,528,153407.0,5.748440,30.902635,1.000000,1.000000,1.000000,3.000000,9.360000e+02
7,txn_amt_week_wk2,float64,Weekly transaction amount for wk2 indicating s...,920371,27490,153407.0,19034.017170,101769.678759,0.010000,485.000000,2000.000000,7700.000000,1.924500e+07
8,txn_velocity_week_wk2,float64,Transaction velocity (transactions per day) fo...,920371,528,153407.0,0.821206,4.414662,0.142857,0.142857,0.142857,0.428571,1.337143e+02
9,txn_days_active_week_wk2,float64,Number of active transaction days in wk2 showi...,920371,7,153407.0,1.733500,1.236126,1.000000,1.000000,1.000000,2.000000,7.000000e+00
10,txn_count_week_wk3,float64,Weekly transaction count for wk3 showing accou...,931370,492,142408.0,4.799990,25.714253,1.000000,1.000000,1.000000,3.000000,7.720000e+02
11,txn_amt_week_wk3,float64,Weekly transaction amount for wk3 indicating s...,931370,28701,142408.0,17335.440085,81098.148094,0.010000,500.000000,2088.000000,8485.000000,3.544830e+06
12,txn_velocity_week_wk3,float64,Transaction velocity (transactions per day) fo...,931370,492,142408.0,0.685713,3.673465,0.142857,0.142857,0.142857,0.428571,1.102857e+02
13,txn_days_active_week_wk3,float64,Number of active transaction days in wk3 showi...,931370,7,142408.0,1.750449,1.217289,1.000000,1.000000,1.000000,2.000000,7.000000e+00
14,txn_count_week_wk4,float64,Weekly transaction count for wk4 showing accou...,917520,428,156258.0,4.245319,20.172151,1.000000,1.000000,2.000000,3.000000,7.130000e+02
15,txn_amt_week_wk4,float64,Weekly transaction amount for wk4 indicating s...,917520,34335,156258.0,17745.306564,87339.699733,0.010000,600.000000,2600.000000,9930.000000,4.735400e+06
16,txn_velocity_week_wk4,float64,Transaction velocity (transactions per day) fo...,917520,428,156258.0,0.606474,2.881736,0.142857,0.142857,0.285714,0.428571,1.018571e+02
17,txn_days_active_week_wk4,float64,Number of active transaction days in wk4 showi...,917520,9,156258.0,1.946992,1.485035,1.000000,1.000000,1.000000,2.000000,9.000000e+00
18,txn_velocity_delta_wk2_vs_wk1,float64,Change in transaction velocity between weeks i...,978994,1067,94784.0,0.075727,3.004861,-84.000000,-0.142857,0.000000,0.142857,1.117143e+02
19,txn_velocity_delta_wk3_vs_wk2,float64,Change in transaction velocity between weeks i...,999345,952,74433.0,-0.181953,3.406082,-108.857143,-0.142857,0.000000,0.142857,9.514286e+01
20,txn_velocity_delta_wk4_vs_wk3,float64,Change in transaction velocity between weeks i...,994211,844,79567.0,0.060998,2.897245,-71.857143,-0.142857,0.000000,0.285714,6.571429e+01
21,txn_velocity_accel_wk3,float64,Transaction velocity acceleration showing rapi...,1021701,1218,52077.0,-0.532143,5.704402,-211.000000,-0.285714,0.000000,0.285714,8.957143e+01
22,txn_velocity_accel_wk4,float64,Transaction velocity acceleration showing rapi...,1023238,933,50540.0,-0.135884,4.390258,-115.714286,-0.285714,0.142857,0.428571,8.442857e+01
23,txn_count_30d,float64,Total transaction count over 30-day period sho...,645550,1088,428228.0,7.624364,49.206079,1.000000,1.000000,2.000000,4.000000,2.243000e+03
24,txn_amt_30d,float64,Total transaction amount over 30-day period in...,645550,75730,428228.0,27276.734803,167729.701388,0.010000,200.000000,2000.000000,11225.000000,2.032600e+07
25,txn_velocity_30d,float64,Average daily transaction velocity over 30-day...,645550,1088,428228.0,0.254145,1.640203,0.033333,0.033333,0.066667,0.133333,7.476667e+01
26,txn_days_active_30d,float64,Feature txn_days_active_30d providing context ...,645550,30,428228.0,2.970625,3.311157,1.000000,1.000000,2.000000,3.000000,3.000000e+01
27,txn_count_day_volatility_30d,float64,Total transaction count over 30-day period sho...,841897,9033,231881.0,0.700579,2.939933,0.000000,0.000000,0.000000,0.699206,4.433560e+02
28,txn_amt_day_volatility_30d,float64,Total transaction amount over 30-day period in...,841897,143080,231881.0,6031.656443,25763.886546,0.000000,380.785373,1633.128337,5210.833624,7.552550e+06
29,txn_count_vol_score_wk1,float64,Volatility score for wk1 measuring transaction...,985006,3604,88772.0,0.217359,0.564916,0.000000,0.000000,0.000000,0.353553,6.151829e+01
30,txn_amt_vol_score_wk1,float64,Volatility score for wk1 measuring transaction...,985006,56380,88772.0,29.376165,752.024051,0.000000,0.512842,1.305611,4.573327,1.869734e+05
31,txn_count_vol_score_wk2,float64,Volatility score for wk2 measuring transaction...,1014915,3688,58863.0,0.233940,0.995124,0.000000,0.000000,0.000000,0.353553,2.216780e+02
32,txn_amt_vol_score_wk2,float64,Volatility score for wk2 measuring transaction...,1014915,43890,58863.0,62.449742,742.362849,0.000000,0.509090,1.198438,3.703053,4.182574e+04
33,txn_count_vol_score_wk3,float64,Volatility score for wk3 measuring transaction...,1017152,2942,56626.0,0.242462,0.712418,0.000000,0.000000,0.000000,0.353553,5.055813e+01
34,txn_amt_vol_score_wk3,float64,Volatility score for wk3 measuring transaction...,1017152,43474,56626.0,74.463610,835.598002,0.000000,0.550749,1.318276,4.082180,3.702851e+04
35,txn_count_vol_score_wk4,float64,Volatility score for wk4 measuring transaction...,1004139,2869,69639.0,0.214648,0.357707,0.000000,0.000000,0.000000,0.353553,1.759058e+01
36,txn_amt_vol_score_wk4,float64,Volatility score for wk4 measuring transaction...,1004139,54367,69639.0,50.252727,737.338804,0.000000,0.588335,1.411391,4.402963,5.061759e+04
37,max_txn_count_day,float64,Maximum daily txn indicating peak account usag...,645550,205,428228.0,2.133891,7.081497,1.000000,1.000000,1.000000,2.000000,6.280000e+02
38,min_txn_count_day,float64,Minimum daily txn showing baseline account act...,645550,75,428228.0,1.153194,1.451593,1.000000,1.000000,1.000000,1.000000,1.370000e+02
39,max_txn_amt_day,float64,Maximum daily txn indicating peak account usag...,645550,43399,428228.0,10201.558552,49132.811725,0.010000,180.000000,1450.000000,7150.000000,1.440000e+07
40,min_txn_amt_day,float64,Minimum daily txn showing baseline account act...,645550,18607,428228.0,2567.532651,14702.941364,0.010000,100.000000,200.000000,1000.000000,2.000000e+06
41,avg_amt_in_day,float64,Average daily amt_in indicating typical accoun...,645550,68730,428228.0,5177.892247,24081.044749,0.000000,100.000000,600.000000,3550.553750,5.351667e+06
42,avg_amt_out_day,float64,Average daily amt_out indicating typical accou...,645550,43578,428228.0,1727.716133,5567.390000,0.000000,0.000000,90.000000,860.000000,9.997900e+04
43,avg_net_flow_amt_day,float64,Average daily net_flow_amt indicating typical ...,645550,101991,428228.0,3450.176114,22952.198896,-80000.000000,1.000000,266.666667,2400.000000,5.351667e+06
44,avg_inflow_outflow_ratio_day,float64,Average daily inflow_outflow_ratio indicating ...,645550,148146,428228.0,1829.135437,17046.873546,0.000000,1.000000,6.013703,185.000000,5.351667e+06
45,num_same_day_cico_days,float64,Cash-in-cash-out same day patterns potentially...,645550,30,428228.0,0.447888,1.540174,0.000000,0.000000,0.000000,0.000000,2.900000e+01
46,num_inflow_days,float64,Numeric metric related to num inflow days for ...,645550,31,428228.0,2.006581,2.580681,0.000000,1.000000,1.000000,2.000000,3.000000e+01
47,percent_inflow_same_day_out,float64,Numeric metric related to percent inflow same ...,645550,286,428228.0,0.078310,0.178314,0.000000,0.000000,0.000000,0.000000,9.666667e-01
48,count_INSTAPAY_IN,float64,Number of incoming transactions via InstaPay (...,720763,332,353015.0,3.602989,11.590989,1.000000,1.000000,2.000000,3.000000,1.207000e+03
49,count_INSTAPAY_OUT,float64,Number of incoming transactions via InstaPay (...,825062,1010,248716.0,7.923644,59.207376,1.000000,1.000000,1.000000,3.000000,2.234000e+03
50,count_PESONET_IN,float64,Number of incoming transactions via PESONet (b...,1065201,36,8577.0,2.602192,7.350759,1.000000,2.000000,2.000000,2.000000,6.280000e+02
51,count_PESONET_OUT,float64,Number of outgoing transactions via PESONet (b...,1073777,1,1.0,1.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000e+00
52,count_total_in,float64,Numeric metric related to count total in for q...,645550,336,428228.0,3.022287,10.680406,0.000000,1.000000,1.000000,3.000000,1.207000e+03
53,count_total_out,float64,Numeric metric related to count total out for ...,645550,1011,428228.0,4.602076,45.291219,0.000000,0.000000,1.000000,2.000000,2.234000e+03
54,amount_INSTAPAY_IN,float64,Total amount received via InstaPay (real-time)...,720763,55273,353015.0,23620.619685,149359.699412,0.010000,200.000000,2000.000000,10515.000000,1.999800e+07
55,amount_INSTAPAY_OUT,float64,Total amount received via InstaPay (real-time)...,825062,31950,248716.0,11370.542630,52167.303269,0.010000,200.000000,1000.000000,4900.000000,1.489761e+06
56,amount_PESONET_IN,float64,Total amount received via PESONet (batch) netw...,1065201,3530,8577.0,59950.058574,262301.566669,0.010000,2000.000000,9000.000000,35618.600000,1.600000e+07
57,amount_PESONET_OUT,float64,Total amount sent via PESONet (batch) network ...,1073777,1,1.0,1000.000000,NaN,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03
58,total_amount_in,float64,Numeric metric related to total amount in for ...,645550,57470,428228.0,20672.690040,142314.023214,0.000000,100.000000,1000.000000,8300.000000,1.999800e+07
59,total_amount_out,float64,Numeric metric related to total amount out for...,645550,31951,428228.0,6604.044763,40150.817538,0.000000,0.000000,92.000000,1582.000000,1.489761e+06
60,max_amount_INSTAPAY_IN,float64,Total amount received via InstaPay (real-time)...,720763,25240,353015.0,6262.122514,11179.683004,0.010000,180.000000,1400.000000,6642.205000,5.000000e+04
61,max_amount_INSTAPAY_OUT,float64,Total amount received via InstaPay (real-time)...,825062,13405,248716.0,3911.399427,8624.417284,0.010000,198.977500,881.000000,3000.000000,5.000000e+04
62,max_amount_PESONET_IN,float64,Total amount received via PESONet (batch) netw...,1065201,3030,8577.0,25527.212580,97420.166418,0.010000,1000.000000,5000.000000,17000.000000,7.000000e+06
63,max_amount_PESONET_OUT,float64,Total amount sent via PESONet (batch) network ...,1073777,1,1.0,1000.000000,NaN,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03
64,min_amount_INSTAPAY_IN,float64,Total amount received via InstaPay (real-time)...,720763,14655,353015.0,2063.283967,5880.140745,0.010000,100.000000,285.000000,1000.000000,5.000000e+04
65,min_amount_INSTAPAY_OUT,float64,Total amount received via InstaPay (real-time)...,825062,9671,248716.0,1658.310299,5196.414024,0.010000,90.000000,200.000000,977.000000,5.000000e+04
66,min_amount_PESONET_IN,float64,Total amount received via PESONet (batch) netw...,1065201,2721,8577.0,20272.357290,55045.248512,0.010000,627.310000,3000.000000,12193.700000,1.600000e+06
67,min_amount_PESONET_OUT,float64,Total amount sent via PESONet (batch) network ...,1073777,1,1.0,1000.000000,NaN,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03
68,txn_days_active,float64,Numeric metric related to txn days active for ...,645550,30,428228.0,2.970625,3.311157,1.000000,1.000000,2.000000,3.000000,3.000000e+01
69,weekend_txn_count,float64,Weekly transaction count for count showing acc...,862361,444,211417.0,4.077595,19.302710,1.000000,1.000000,1.000000,2.000000,7.210000e+02
70,night_txn_count,float64,Nighttime transaction activity potentially ind...,812238,447,261540.0,4.117875,19.139900,1.000000,1.000000,1.000000,3.000000,9.820000e+02
71,hour_entropy,float64,Hour-of-day transaction entropy measuring pred...,645550,11669,428228.0,1.016875,1.108025,0.000000,0.000000,1.000000,1.842371,4.554227e+00
72,weekday_entropy,float64,Day-of-week transaction entropy indicating sch...,645550,12285,428228.0,0.802214,0.874598,0.000000,0.000000,0.918296,1.521928,2.807355e+00
73,min_time_btwn_txns_sec,float64,Time intervals between transactions showing ac...,819449,131956,254329.0,243276.788400,466316.391777,0.000000,333.000000,21933.000000,244916.000000,2.578572e+06
74,min_time_btwn_txns_days,float64,Minimum daily time showing baseline account ac...,819449,131956,254329.0,2.815704,5.397180,0.000000,0.003854,0.253854,2.834676,2.984458e+01
75,max_time_btwn_txns_days,float64,Maximum daily time indicating peak account usa...,819449,224626,254329.0,8.391395,6.464638,0.000000,3.183715,7.225914,12.342720,2.984458e+01
76,avg_time_btwn_txns_days,float64,Average daily time_btwn_txnss indicating typic...,819449,236851,254329.0,4.869164,5.223231,0.000000,1.363178,3.224317,6.485934,2.984458e+01
77,cv_time_btwn_txns,float64,Time intervals between transactions showing ac...,897188,174186,176590.0,1.179461,0.785714,0.000000,0.801116,1.099938,1.411739,2.424784e+01
78,min_txn_sessions_per_day_3min,float64,Minimum daily txn showing baseline account act...,645550,46,428228.0,1.085973,0.731046,1.000000,1.000000,1.000000,1.000000,6.400000e+01
79,max_txn_sessions_per_day_3min,float64,Maximum daily txn indicating peak account usag...,645550,112,428228.0,1.807170,4.400010,1.000000,1.000000,1.000000,2.000000,1.270000e+02
80,min_txn_sessions_per_day_5min,float64,Minimum daily txn showing baseline account act...,645550,37,428228.0,1.070402,0.573611,1.000000,1.000000,1.000000,1.000000,4.300000e+01
81,max_txn_sessions_per_day_5min,float64,Maximum daily txn indicating peak account usag...,645550,83,428228.0,1.705792,3.520124,1.000000,1.000000,1.000000,2.000000,8.500000e+01
82,active_days_with_txns,float64,Numeric metric related to active days with txn...,645550,30,428228.0,2.970625,3.311157,1.000000,1.000000,2.000000,3.000000,3.000000e+01
83,num_unique_source_accounts,float64,Number of unique counterparties indicating acc...,717338,208,356440.0,1.920940,5.650975,0.000000,1.000000,1.000000,2.000000,7.500000e+02
84,num_unique_source_names,float64,Number of unique counterparties indicating acc...,717338,201,356440.0,1.860358,5.583273,0.000000,1.000000,1.000000,2.000000,7.350000e+02
85,num_unique_destination_accounts,float64,Number of unique counterparties indicating acc...,825062,861,248716.0,5.264442,44.524001,0.000000,1.000000,1.000000,2.000000,1.633000e+03
86,num_unique_destination_names,float64,Number of unique counterparties indicating acc...,825062,837,248716.0,5.228880,43.867453,0.000000,1.000000,1.000000,2.000000,1.633000e+03
87,repeat_sources,float64,Numeric metric related to repeat sources for q...,929915,88,143863.0,1.455600,2.482459,1.000000,1.000000,1.000000,1.000000,2.020000e+02
88,total_sources,float64,Numeric metric related to total sources for qu...,929915,207,143863.0,3.033546,8.709460,1.000000,1.000000,2.000000,3.000000,7.500000e+02
89,repeat_counterparty_ratio_in,float64,Ratio of repeated vs new counterparties indica...,929915,855,143863.0,0.730670,0.295822,0.007299,0.500000,1.000000,1.000000,1.000000e+00
90,repeat_destinations,float64,Numeric metric related to repeat destinations ...,999833,93,73945.0,1.476557,4.769157,1.000000,1.000000,1.000000,1.000000,4.470000e+02
91,total_destinations,float64,Numeric metric related to total destinations f...,999833,849,73945.0,13.955710,79.754560,1.000000,1.000000,2.000000,3.000000,1.633000e+03
92,repeat_counterparty_ratio_out,float64,Ratio of repeated vs new counterparties indica...,999833,1528,73945.0,0.657700,0.336550,0.001151,0.333333,0.500000,1.000000,1.000000e+00
93,amt_from_source,float64,Numeric metric related to amt from source for ...,717338,42527,356440.0,13918.605305,82870.532174,0.010000,200.000000,2000.000000,9800.000000,1.958800e+07
94,rank,float64,Numeric metric related to rank for quantitativ...,717338,1,356440.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00
95,total_in,float64,Numeric metric related to total in for quantit...,717338,57468,356440.0,24836.226884,155656.521089,0.010000,200.000000,2000.000000,11000.000000,1.999800e+07
96,top_source_share_in,float64,Concentration of transactions with primary cou...,717338,64054,356440.0,0.893177,0.193602,0.008823,0.859813,1.000000,1.000000,1.000000e+00
97,amt_to_destination,float64,Numeric metric related to amt to destination f...,825062,21479,248716.0,6419.012351,25773.513016,0.010000,200.000000,992.000000,4000.000000,1.236996e+06
98,rank.1,float64,Numeric metric related to rank.1 for quantitat...,825062,1,248716.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00
99,total_out,float64,Numeric metric related to total out for quanti...,825062,31950,248716.0,11370.546651,52167.302514,0.010000,200.000000,1000.000000,4900.000000,1.489761e+06
100,top_destination_share_out,float64,Concentration of transactions with primary cou...,825062,44806,248716.0,0.890643,0.200086,0.003289,0.855796,1.000000,1.000000,1.000000e+00
101,source_entropy_in,float64,Feature source_entropy_in providing context fo...,717338,6757,356440.0,0.453175,0.780926,0.000000,0.000000,0.000000,0.918296,9.297884e+00
102,destination_entropy_out,float64,Feature destination_entropy_out providing cont...,825062,5616,248716.0,0.522674,1.041329,0.000000,0.000000,0.000000,1.000000,1.064582e+01

#### Categorical Features: Classifying Patterns

Categorical features (e.g., transaction types, channels, flags) help us segment our data and uncover distinct patterns. For these, we focus on understanding their diversity and common occurrences.

*   **`other_categories_count`**: The count of less frequent categories, indicating the long tail of unique values.
*   **`min_value` / `max_value`**: For numerical-like categorical data (e.g., encoded categories), these show the range.
*   **`date_range_days`**: For date-time related categorical features, the span in days.
*   **`value_range`**: For numerical-like categorical data, the difference between max and min.

In [27]:
# bank-fraud-detection-project\references\categorical_data_dictionary.csv
categorical_path = DATA_DICTIONARIES_DIR / 'categorical_data_dictionary.csv'
categorical_df = pd.read_csv(categorical_path)

categorical_df

,feature_name,data_type,description,null_count,unique_count,min_value,max_value,date_range_days,other_categories_count,value_range
0,date_of_birth,datetime64[ns],Customer birth date for age-based risk profili...,0,22796,1925-01-25 00:00:00,2007-05-12 00:00:00,30057.0,NaN,NaN
1,orig_onboarded_datetime,datetime64[ns],Account opening timestamp for tenure analysis ...,0,1071543,2025-01-01 00:07:34.340000,2025-05-12 23:59:49.056000,131.0,NaN,NaN
2,orig_onboarded_date,datetime64[ns],Account opening timestamp for tenure analysis ...,0,132,2025-01-01 00:00:00,2025-05-12 00:00:00,131.0,NaN,NaN
3,orig_channel,object,Account opening channel (online/branch) indica...,0,3,NaN,NaN,NaN,0.0,NaN
4,orig_os,object,Operating system used during account opening i...,0,3,NaN,NaN,NaN,0.0,NaN
5,origination_type,object,Type of account origination process indicating...,0,3,NaN,NaN,NaN,0.0,NaN
6,origination_sub_type,object,Categorical information for origination sub ty...,0,6,NaN,NaN,NaN,0.0,NaN
7,carded_status,object,Debit/credit card information indicating payme...,0,2,NaN,NaN,NaN,0.0,NaN
8,card_type,object,Debit/credit card information indicating payme...,0,2,NaN,NaN,NaN,0.0,NaN
9,orig_primary_source_of_funds,object,Declared primary income source for AML complia...,0,10,NaN,NaN,NaN,0.0,NaN
10,orig_industry,object,Customer industry/occupation for risk profilin...,0,21,NaN,NaN,NaN,11.0,NaN
11,orig_occupation,object,Customer industry/occupation for risk profilin...,0,53,NaN,NaN,NaN,43.0,NaN
12,ticket_no,object,Investigation case identifier for fraud review...,974133,99645,NaN,NaN,NaN,99635.0,NaN
13,date_tagged,datetime64[ns],Fraud identification date for timeline analysi...,976816,96958,2025-01-01 01:37:11.200000,2025-06-10 16:50:45.222000,160.0,NaN,NaN
14,ops_comments,object,Operational notes from fraud analysts providin...,996532,76608,NaN,NaN,NaN,76598.0,NaN
15,account_status,object,Current account standing indicating operationa...,0,8,NaN,NaN,NaN,0.0,NaN
16,account_status_as_off,datetime64[ns],Current account standing indicating operationa...,0,161,2024-12-31 00:00:00,2025-06-09 00:00:00,160.0,NaN,NaN
17,datetime_restricted,datetime64[ns],Account restriction information for fraud prev...,1004374,68532,2025-01-01 00:00:00,2025-06-09 14:54:41.184000,159.0,NaN,NaN
18,date_restricted,datetime64[ns],Account restriction information for fraud prev...,1004374,160,2025-01-01 00:00:00,2025-06-09 00:00:00,159.0,NaN,NaN
19,athena_fraud_tag,object,Fraud classification label for model training ...,974133,3,NaN,NaN,NaN,0.0,NaN
20,acc_mgmt_channel,object,Categorical information for acc mgmt channel s...,0,3,NaN,NaN,NaN,0.0,NaN
21,first_kiosk_interaction_organisation_site_name,object,Physical kiosk usage patterns indicating offli...,299892,642,NaN,NaN,NaN,632.0,NaN
22,first_kiosk_interaction_organisation_presence_...,object,Physical kiosk usage patterns indicating offli...,299892,32,NaN,NaN,NaN,22.0,NaN
23,first_kiosk_interaction_organisation_name,object,Physical kiosk usage patterns indicating offli...,299892,51,NaN,NaN,NaN,41.0,NaN
24,first_kiosk_interaction_kiosk_interaction_type,object,Physical kiosk usage patterns indicating offli...,299880,2,NaN,NaN,NaN,0.0,NaN
25,latest_kiosk_interaction_organisation_site_name,object,Physical kiosk usage patterns indicating offli...,299892,642,NaN,NaN,NaN,632.0,NaN
26,latest_kiosk_interaction_organisation_presence...,object,Physical kiosk usage patterns indicating offli...,299892,32,NaN,NaN,NaN,22.0,NaN
27,latest_kiosk_interaction_organisation_name,object,Physical kiosk usage patterns indicating offli...,299892,51,NaN,NaN,NaN,41.0,NaN
28,latest_kiosk_interaction_kiosk_interaction_type,object,Physical kiosk usage patterns indicating offli...,299880,2,NaN,NaN,NaN,0.0,NaN
29,first_fila_date,datetime64[ns],FILA (Filipino banking network) interaction da...,1019261,54517,2025-01-01 01:21:04.686000,2025-06-10 02:07:15.272000,160.0,NaN,NaN
30,first_fila_bank_code,object,FILA (Filipino banking network) interaction da...,1019261,4,NaN,NaN,NaN,0.0,NaN
31,change_email_flag,int64,Contact information change frequency indicatin...,0,2,0,1,NaN,NaN,1.0
32,change_mob_num_flag,int64,Contact information change frequency indicatin...,0,2,0,1,NaN,NaN,1.0
33,first_mob_num_date,datetime64[ns],Temporal data for first mob num date enabling ...,1055319,161,2025-01-01 00:00:00,2025-06-10 00:00:00,160.0,NaN,NaN
34,final_tag,object,Fraud classification label for model training ...,0,3,NaN,NaN,NaN,0.0,NaN
35,dna_final_tag,object,Fraud classification label for model training ...,0,3,NaN,NaN,NaN,0.0,NaN
36,fraud_types,object,Specific fraud category for targeted detection...,0,9,NaN,NaN,NaN,0.0,NaN
37,fraud_channel_source,object,Fraud vector identification for channel-specif...,0,4,NaN,NaN,NaN,0.0,NaN
38,matching_level,object,Categorical information for matching level sup...,817037,7,NaN,NaN,NaN,0.0,NaN
39,flag_txn_dropoff_after_wk1,float64,Flag indicating significant transaction activi...,645550,2,0.0,1.0,NaN,NaN,1.0
40,first_txn_date,datetime64[ns],Transaction timeline boundaries for account li...,645550,161,2025-01-01 00:00:00,2025-06-10 00:00:00,160.0,NaN,NaN
41,last_txn_date,datetime64[ns],Transaction timeline boundaries for account li...,645550,161,2025-01-01 00:00:00,2025-06-10 00:00:00,160.0,NaN,NaN

#### Identifier Features: Tracking Entities

Identifier features (e.g., account numbers, profile IDs) are critical for linking information across the dataset and ensuring data integrity. They are the backbone for tracking individual entities and their activities.

*   **`total_count`**: The total number of records in the dataset.
*   **`uniqueness_ratio`**: The proportion of unique values, indicating how well a feature serves as an identifier.
*   **`duplicate_count`**: The number of duplicate entries, highlighting potential data quality issues or expected repetitions.
*   **`is_primary_key`**: A boolean flag indicating if the feature can serve as a unique identifier for each record (no duplicates, no nulls).

In [29]:
# bank-fraud-detection-project\references\identifier_data_dictionary.csv
identifier_path = DATA_DICTIONARIES_DIR / 'identifier_data_dictionary.csv'
identifier_df = pd.read_csv(identifier_path)

identifier_df

,feature_name,data_type,description,null_count,unique_count,total_count,uniqueness_ratio,duplicate_count,is_primary_key
0,profile_id,object,Unique customer identifier for linking account...,0,1073778,1073778,1.000000,0,True
1,account_no,object,Primary account number for transaction trackin...,0,1073778,1073778,1.000000,0,True
2,full_name,object,Customer full name for identity verification a...,0,1073390,1073778,0.999639,388,False
3,username,object,Digital platform username indicating online ba...,0,1073778,1073778,1.000000,0,True
4,gr_card_no,object,Debit/credit card information indicating payme...,0,1073162,1073778,0.999426,616,False
5,cellphone,object,Registered mobile number for customer contact ...,0,1073778,1073778,1.000000,0,True
6,account_number,object,Categorical information for account number sup...,0,428229,1073778,0.398806,645549,False
7,source_account_number,object,Categorical information for source account num...,0,264096,1073778,0.245950,809682,False
8,destination_account_number,object,Categorical information for destination accoun...,0,221439,1073778,0.206224,852339,False

**Identifier Data Types: Hashing for Privacy**

Some identifier columns, like `profile_id` or `account_no`, `gr_card_no`, `cellphone`, `account_number`, `source_account_number`, and `destination_account_number` appear as `object` (string) types instead of integers. This is because they have been **hashed** to protect sensitive customer identities. Hashing anonymizes the data while still allowing these columns to serve as unique identifiers for analytical purposes.

###